@font-face {
  font-family: 'Lato-Light';
  src: url('Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('Lato-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('Lato-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'LilitaOne';
  src: url('LilitaOne-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.header-container {
  color: #FFFFFF;
  background-color: #234DE1;
  display: flex;
  justify-content: center;
  padding: 10px
}

.header {
  font-family: 'LilitaOne';
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.title {

}

.subtitle {

}

.menu-container {
  display: flex;
  justify-content: center;
  background-color: #0EE08C;
  color: #FFFFFF;
}

.menu{
  font-family: 'Lato-Regular';
  width: 900px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.page {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 600px;
}

.welcome {
  display: flex;
  font-family: 'Lato-Bold';
  padding: 3px;
}

.intro {
  display: flex;
  font-family: 'Lato-Light';
  padding: 3px;
}

.featured-box {

}

.featured-intro {
  font-family: 'Lato-Bold';
  padding: 3px;
}

.video-title {
  font-family: 'Lato-Bold';
  font-size: 20px;
  padding: 5px;
  margin-top: 20px
  margin-bottom: 5px;
}

.description{
  font-family: 'Lato-Regular';
  padding: 10px;
}

.post-link {

}

.blog-post {
  justify-content: flex-start;
  align-items: flex-start;
}

.article-title {
  margin-top: 10px;
  font-family: 'Lato-Bold';
  font-size: 36px;
}

.article-subtitle {
  font-family: 'Lato-Regular';
  font-size: 24px;
  margin-bottom: 20px;
}

.article-content {
  font-family: 'Lato-Light';
  font-size: 18px;
  margin-bottom: 16px;
}

.back-to-blog {
  font-family: 'Lato-Bold';
  font-size: 24px;
  margin-bottom: 10px;
}

.about-me {

}

.about-me-title {
  font-family: 'Lato-Bold'
}

.bio {
  font-family: 'Lato-Light';
}
