* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.title {

}

.subtitle {

}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu{
  width: 900px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.page {
  display: flex;
  flex-direction: column;
}

.welcome {

}

.intro {

}

.featured-box {

}

.featured-intro {
  
}
