@font-face {
  font-family: 'Lato-Light';
  src: url('Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('Lato-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('Lato-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'LilitaOne';
  src: url('LilitaOne-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  color: #5D6063;
}

.header-container {
  color: #FFFFFF;
  background-color: #234DE1;
  display: flex;
  justify-content: center;
  padding: 10px
}

.header {
  font-family: 'LilitaOne';
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.title {

}

.subtitle {

}

.menu-container {
  display: flex;
  justify-content: center;
  background-color: #0EE08C;
  color: #FFFFFF;
}

.menu{
  font-family: 'Lato-Regular';
  width: 900px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.page {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.welcome {
  display: flex;
  font-family: 'Lato-Bold'
}

.intro {
  display: flex;
  font-family: 'Lato-Light';
}

.featured-box {

}

.featured-intro {
  font-family: 'Lato-Bold';
}
